
	      <div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Módulo</span>
							Control Médico &copy; 2018
						</span>
					</div>
				</div>
			</div>
		<script src="../js/jquery-2.1.4.min.js"></script>Ñ
		<script src="../js/ace-elements.min.js"></script>
		<script src="../js/ace.min.js"></script>
		<script src="../js/jquery.dataTables.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/chosen.jquery.min.js"></script>
		<script src="../js/sweetalert.min.js"></script>
		<script src="../js/Chart.bundle.min.js"></script>
		<!-- inline scripts related to this page -->
		<script src="../js/bootstrap-tagsinput.min.js"></script>
		<script src="../js/notifIt.min.js"></script>
		<script src="../js/notificacionesPersonalizadas.js"></script>
		<!-- pdfs -->
		<script src="../js/html2canvas.min.js"></script>
		<script src="../js/jspdf.min.js"></script>
		<script src="../js/html2pdf.js"></script>
		<!-- char.js (graficos)-->
		<script src="../js/Chart.min.js"></script>
		<script src="../js/Chart.bundle.min.js"></script>
	</body>
</html>
